* {
  box-sizing: border-box;
}

/* * {
  margin: 100px;
} */

/* p {
  margin: 100px;
} */

/* a[href="#"] {
  background: red;
} */

/* a[href^="t"] {
  background: red;
}
a[href$="d"] {
  background: red;
} */

/* h3 + p {
  background-color: red;
} */

/* h3 ~ p {
  background-color: aquamarine;
} */

/* a[href^='http://'],
a[href^='https://'] {
  color: red;
} */

/* a:not([href^='http://']):not([href^='https://']) {
  color: green;
} */

/* p:not(.classy) {
  color: red;
} */

/* body :not(p) {
  color: green;
} */

.container {
  display: flex;
  justify-content: space-evenly;
}

.item {
  padding: 20px;
  background-color: aqua;
  margin: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
  text-align: center;
}