* {
  box-sizing: border-box;
}

.chess {
  border: 10px solid red;
  width: calc(50px * 9);
}

.col {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: red;
}

.row:nth-child(odd) .col:nth-child(odd) {
  background-color: #000;
}

.row:nth-child(even) .col:nth-child(even) {
  background-color: #000;
}

.row:nth-child(odd) .col:nth-child(even) {
  background-color: rgb(172, 148, 148);
}

.row:nth-child(even) .col:nth-child(odd) {
  background-color: rgb(172, 148, 148);
}

.stars {
  display: inline-block;
}

.star {
  width: 78px;
  height: 78px;
  display: inline-block;
  background-image: url('./images/star0.png');
}

.stars:hover .star {
  background-image: url('./images/star1.png');
}

.star:hover ~ .star {
  background-image: url('./images/star0.png');
}